<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track': 'reload' %>

  <title>Admin</title>
</head>
<body>

  <!-- SIDEBAR -->
  <%= render 'layouts/sidebar' %>

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <%= render 'layouts/navbar' %>

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li><i class="bx bx-chevron-right"></i></li>
            <li><a class="active" href="#">Home</a></li>
          </ul>
        </div>
        <a href="#" class="btn-download">
          <i class="bx bxs-cloud-download"></i>
          <span class="text">Download PDF</span>
        </a>
      </div>

      <ul class="box-info">
        <li>
          <i class="bx bxs-calendar-check"></i>
          <span class="text">
            <h3>1020</h3>
            <p>New Order</p>
          </span>
        </li>
        <li>
          <i class="bx bxs-dollar-circle"></i>
          <span class="text">
            <h3>$2543</h3>
            <p>Total Sales</p>
          </span>
        </li>
      </ul>

      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Recent Orders</h3>
            <i class="bx bx-search"></i>
            <i class="bx bx-filter"></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>Usuário</th>
                <th>Data</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
                <% if @recent_orders.present? %>
                  <% @recent_orders.each do |order| %>
                    <tr>
                      <td>
                        <img src="<%= asset_path('t_circulo.png') %>" alt="User">
                        <p><%= order.nome_do_cliente %></p>
                      </td>
                      <td><%= order.data_de_entrega.strftime('%d-%m-%Y') %></td>
                      <td><span class="status <%= order.status %>"><%= order.status&.humanize || 'Indefinido' %></span></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td colspan="3">No recent orders found.</td>
                  </tr>
                <% end %>
              </tbody>

          </table>
        </div>
      </div>
    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->

  <%= javascript_include_tag 'admin', 'data-turbo-track': 'reload' %>
</body>
</html>
